Flask==3.0.3
click>=8.1.0
Flask_Cors==5.0.0
openai==1.54.4
pandas==1.5.3
pymongo==4.10.1
PyPDF2==3.0.1
qdrant_client==1.12.0
tqdm==4.66.2
selenium==4.26.1
google-auth==2.36.0
google-auth-oauthlib==1.2.1
chromedriver-autoinstaller==0.6.4
langgraph==0.2.48
langchain
langsmith
langchain_community
langchain-openai
langchain-neo4j
neo4j>=5.0.0,<6.0.0
protobuf==3.20.2
pytest>=7.0.0
pyvirtualdisplay>=3.0
grpcio-tools==1.48.2
tiktoken>=0.7.0